$black: #222222;

$white: #ffffff;

$gray: #F2F2F2;

$green: #00FF00;

$gradient: linear-gradient(278.62deg, #fce4bb 1.35%, #fef7ea 113.81%);
$color-border: rgba(249, 175, 49, 0.3);


$font-h1: 72px;

$font-h2: 32px;

$font-h3: 20px;

$font-body: 14px;

$font-btn: 16px;


$lh-h: 1.5; 
$lh-h3: 1.4;
$lh-body: 1.2;


$btn-border-radius: 5px;
$border-form-radius: 10px;
$border-cards-radius: 20px;
$border-banner-radius: 0px 0px 20px 20px;