$cod-gray: #1a1a1a;

$white: #ffffff;


$orange: #f9af31;



$font-h1: 60px;
$font-h2: 50px;
// H2 - Montserrat - Semi Bold - 32/40
$font-h3: 45px;
// H3 - Montserrat - Semi Bold - 18/22
$font-subtitle: 30px;
// Subtitle - Montserrat - Semi Bold - 16/22
$font-body: 25px;
// Body - Montserrat - Regular - 16/25



$lh: 1.4;
//  H2 - Montserrat - Semi Bold - 32/40
