<section class="blog">
  <h2>БЛОГ О ПСИХОЛОГИИ ОТНОШЕНИЙ</h2>
  <div class="blog__inner">
    <form class="search">
      <input class="search__text" type="text" placeholder="Поиск по блогу...">
      <button class="search__btn btn" type="submit">найти</button>
    </form>

    <div class="blog__content">
      <a  class="blog__item" href="#">

        <img src="img/main/blog-1.jpg" alt="отношения на расстоянии: любовь или иллюзия?">

        <h3>отношения на расстоянии: любовь или иллюзия?</h3>
        
        <p>11 февраля 2020<span>7530</span></p>
        
      </a>

      <a  class="blog__item" href="#">

        <img src="img/main/blog-2.jpg" alt="как вернуть бывшего мужа?">

        <h3>как вернуть бывшего мужа?</h3>
        
        <p>11 февраля 2020<span>7530</span></p>
        
      </a>

      <a  class="blog__item" href="#">

        <img src="img/main/blog-3.jpg" alt="код красный: манипуляции мужчиной. почему они не сделают тебя счастливой?">

        <h3>код красный: манипуляции мужчиной. почему они не сделают тебя счастливой?</h3>
        
        <p>11 февраля 2020<span>7530</span></p>
        
      </a>
    </div>

    <button class="blog__btn btn">Смотреть все статьи</button>


  </div>
</section>